body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
 }

 .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    }
    
.hidden {
    display: none;
    }
        