html {
    margin: 0;
    padding: 0;
}

body { 

    font-family: "Riga DEMO Bold", "Arial", sans-serif;
    overflow: hidden;
    background-color: #fcfcfc;
    display: grid;
    grid-template-rows: 50px 680px;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 12px; 
    text-transform: uppercase;
    color: #616161;
    margin-top: 31px;
    margin-left: 25px;
} 

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 130px;
    height: 211px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    text-align: center;
    background: #fcfcfc;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 32px 30px;
    z-index: 2;
 }

 .phone {
    margin-top: 10px; 
    font-size: 7px; 
    color: #a1a5a8;
 }

 .birthday {
    font-size: 7px; 
    color: #a1a5a8;
 }

 .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: 0;
    background-color: #ffffff;
    gap: 14px;
}
    
.hidden {
    display: none;
}

    .avatar {
        height: 65px; 
        width: 65px; 
        margin-left: 5px;
        border-radius: 50%;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: center;
    align-items: stretch;
    height: 660px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    gap: 8px;
}
   

   .card {
    border: solid 1px rgba(36, 15, 15, 0.7);
    border-radius: 3%;
    display: grid;
    grid-template-columns: 23% 77%;
    align-items: center;
    justify-self: stretch;
    background-color: white;
    margin-bottom: 18px;
    height: 100%;
    width: 95%;
    gap: 25px;
}
   .address, .email  {
    font-size: 10px;
    color: #a1a5a8;
}
   .name {
    font-size: 13px; 
    color: #414b51;
}


   /* =======================================================================================================
   Media Queries
   +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++= */
  

/* ============================================= */
@media screen and (min-width: 742px) {   
    .grid-container {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 25% 25% 25% 25%;
        justify-content: center;   
        gap: 16px;   
        height: 590px;
        width: 98%;
} 

.avatar {
    margin-left: 10px;
    margin-bottom: 35px;
    height: 70px; 
    width: 70px; 
}

.card {
    grid-template-columns: 23% 77%;;
    align-items: center;
    justify-content: stretch;
    gap: 42px;
    height: 150px;
    width: 226px;
} 

.name {
    font-size: 14px;
    margin-top: 2px;
}

.address, .email, .phone, .birthday  {
    font-size: 9px;
}

.modal {
    width: 211px;
    height: 317px;
    position: relative;
 }

 .phone {
    margin-top: 20px;
 }
}

/* ============================================= */

/* * ============================================= */ 
@media screen and (min-width: 842px) {   
    .card {
        width: 258px;
    }

    .address, .email, .phone, .birthday {
        font-size: 10px;
    }

    h1 {
        font-size: 14px;
        margin-left: 15px;
    }

    .avatar {
        height: 80px; 
        width: 80px; 
        margin-bottom: 0px;
    }
}


/* ============================================= */

@media screen and (min-width: 942px) {   
     
.card {
   width: 288px; 
   gap: 50px;
}

.avatar {
    height: 90px; 
    width: 90px; 
}

.address, .email, .phone, .birthday  {
    font-size: 11px;
}
}
/* ============================================= */
@media screen and (min-width: 1040px) {   
    .card {
       width: 310px;  
       gap: 60px;
    }

    .avatar {
        height: 105px; 
        width: 105px; 
    }

    .modal {
        height: 340px;
        width: 288px;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    h1 {
        margin-left: 30px;
    }
   
    }

    /* ============================================= */

    @media screen and (min-width: 1120px) {   
        .card {
           width: 350px;  
        }

        .address, .email, .phone, .birthday  {
            font-size: 14px;
        }

        .name {
            font-size: 18px;
        }
        
        .modal {
            height: 360px;
            width: 298px;
        }
        }
/* ============================================= */
@media screen and (min-width: 1220px) {   
        
    .card {
        height: 150px;
        width: 370px;
        padding-left: 10px;
    }

    .avatar {
        height: 108px; 
        width: 108px; 
    }

    .modal {
        height: 365px;
        width: 350px;
    }
    }
/*=============================================*/
@media screen and (min-width: 1450px) {   
        
        .card {
            height: 150px;
            width: 420px;
        }

        .avatar{
            height: 110px;
            width: 110px;
            margin-top: 15px;
        }

        h1 {
            margin-left: 50px;
        }
    }